{% extends "base.html" %}{% block title %}Changed{% endblock %}  

{% block content%}

<h1 align="center">Get Random Recommendation</h1>
<br></br>
      {{randomAnime}}
<div style="text-align: center; border: 1px transparent">
  <button type="submit" class="btn btn-primary" onclick={{randomAnime}}>Random Anime</button>
</div>



<h1 align="center">Recommendation</h1>





{% if reccs != None%}
<form method="POST">
  {%for anime in reccs%}
  
  
  <ul>
    <li>
  <input type="checkbox" value={{anime}} name="anime">
  <label for="anime">{{ anime }}</label>
</li>
</ul> 
{% endfor %}
<button type="submit"  class="btn btn-primary">Add to watchlist</button>
</form>
{% endif %}
{% endblock %}