{% extends "base.html" %}{% block title %}Changed{% endblock %}  

{% block content%}
<h1 align="'center">watchlist</h1>
<ul class="list-group list-group-flush" id="animes">
  {%for anime in user.anime %}
  <li class="list-group-item">
    {{ anime.data }}
    <button type="button" class="close" onClick="deleteNote({{ anime.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>


<h1 align="center">Find Reccomendations</h1>
<form method="POST">
  {%for recc in reccs%}
  
  
  <ul>
    <li>
  <input type="checkbox" id="anime" name="anime">
  <label for="anime">{{ recc }}</label>
</li>
</ul> 
{% endfor %}
<button type="submit" calss="btn btn-primary">Add to watchlist</button>


  
  
  <!--<p>
       <ul>
    <li>
    {{ recc }}
    </li>
  </ul>

  <button type="submit" class="btn btn-primary">Add to watchlist </button>
    </p>  -->  
</form>
{% endblock %}