{% extends "base.html" %} {% block title %}Login{% endblock %}  

{% block content%}
<head>
<link rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Hind">

<style>
  h1,h2,h3{
      font-family:"Montserrat",sans-serif ;
  }
  p,label{
      font-family:"Hind",sans-serif ;
  }
  .div{
      padding: 25px;
  }
 
</style>
<form method ="POST">
    <div class="div">
    <h1 align= "center">Login</h1>
    </div>
</head>
    <div class = "div">
        <label for="email">Email Address</label>
        <input 
        type ="email" 
        class = "form-control" 
        id="email" 
        name="email" 
        placeholder="Enter email">
    </div>
  
    <div class = "div">
        <label for="password1">Password</label>
        <input 
        type ="password" 
        class = "form-control" 
        id="password" 
        name="password" 
        placeholder="Enter password">
    </div>
 
    <br />
    <button type="submit" class="btn btn-dark">Submit</button>
</form>

{% endblock %}