{% extends "base.html" %}{% block title %}Changed{% endblock %}  

{% block content%}
<head><h1 align="center">You should watch:</h1></head>
<br>

<style>
    #button1 , #button2{
      display: inline-block;
    }

    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
  </style>

<body>
    <div class="container">
<h2 style="text-align:center">{{animeName}}</h2>
<br>
<img src="{{image}}" class="center">
<br>
<p style="text-align:center">{{synopsis}}</p>

<div class="text-center">
<form method="POST">
<button class="btn btn-primary" id="button1" name="animeRecc" type="submit" value="{{animeName}}">Add to watchlist</button>
<a href="{{ url_for('views.random') }}"><button class="btn btn-primary" id="button2" >New Recommendation</button></a>

</form>
</div>    
</div>
</body>
{% endblock %}